/*footer*/
.footer { border-top: solid 1px #d9d9d9; padding-top: 50px;}
.top-footer { display: flex; margin-left: -10px; margin-right: -10px; padding-bottom: 30px;}
.logo-footer { font-size: 14px; font-weight: 600; color: #00003B; display: block; margin-bottom: 30px;}
.logo-footer span { width: 110px; display: inline-block; vertical-align: middle;}
.logo-footer img { margin-right: 10px;}
.top-footer .col-footer { padding: 0 10px}
.top-footer .col-footer:first-child { }

.top-footer dl {font-weight: 500; font-size: 14px; font-weight: 700;}
.top-footer dl dt {  font-size: 18px; margin-bottom: 15px;}
.top-footer dl dd { margin-bottom: 10px; font-weight: 500;}
.top-footer dl dd a, .top-footer dl dt a { color: #00003B; white-space: nowrap;}
.top-footer dl dd a.red { color: #BF3D00; font-weight: 700;}

/*box-social*/
.box-social { margin-bottom: 35px; }
.box-social strong { font-size: 18px; font-weight: 700; display: block; margin-bottom: 5px;}
.box-social i { margin-right: 20px;}

.box-app-1 a { display: inline-block; white-space: nowrap;  }
.box-app-1 a:first-child { margin-right: 10px;}
.box-app-1 a img { height: 36px;}

/*bottom-footer*/
.bottom-footer { padding: 40px 0; font-size: 12px; border-top: 1px solid #e7e6ec; display: flex;}
.bottom-footer .left strong { font-size: 18px; display: block; margin-bottom: 10px;}
.bottom-footer .right { padding-left: 20px; padding-top: 45px; }