.icon {
    display: inline-block;
    vertical-align: middle;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.icon-star { width: 40px; height: 40px; background: url(../img/icon-star.svg) 0 0 no-repeat ;}
.icon-facebook { width: 11px; height: 20px; background: url(../img/icon-facebook.svg) 0 0 no-repeat ; background-size: cover;}
.icon-youtube { width: 22px; height: 20px; background: url(../img/icon-youtube.svg) 0 0 no-repeat ; background-size: cover;}
.icon-ins { width: 20px; height: 20px; background: url(../img/icon-ins.svg) 0 0 no-repeat ; background-size: cover;}

/*container*/
.container { max-width: 1230px;}
/*img*/
img { max-width: 100%;}
a:hover { text-decoration: none;}
/*body*/
body { font-family: 'Be Vietnam', sans-serif; color: #00003B; padding-top: 90px;}

/*slider-top*/
.slider-top { height: calc(100vh - 90px); overflow: hidden;}

.page-section { padding: 100px 0;}

/*block-app*/
.block-app h3 { font-size: 94px; color: #00003B; letter-spacing: -4px;}
.block-app p { font-weight: bold; font-size: 24px; letter-spacing: 0.005em;}

/*box-app*/
.box-app { display: flex; margin-top: 40px; margin-bottom: 60px;}
.box-app .qrcode { margin-right: 30px; width: 180px;}
.box-app .qrcode img { width: 100%;}
.box-app .outer-app { width: 1px; flex-grow: 1;}
.box-app .outer-app a { display: block;}
.box-app .outer-app a:first-child { margin-bottom: 20px;}

/*box-count*/
.box-count p { font-size: 55px; color: #FFBB00; font-weight: 700; line-height: 1.3; letter-spacing: -0.01em;}
.box-count p span { color: #00003B; font-size: 24px; display: block; letter-spacing: 0.005em;}
.outer-star { display: flex; margin: 10px 0; height: 65px; line-height: 65px;}