.header { height: 90px; background:#FFF; position: fixed; left: 0; top: 0; width: 100%; z-index: 999;}
.logo { display: block; padding: 15px 0;}

/*nav*/
.nav > ul { display: flex; padding: 0; list-style: none; margin-bottom: 0;}
.nav > ul > li { list-style: none; }
.nav > ul > li > a { font-size: 23px; color:#00003B; font-weight: 700; height: 90px; line-height: 86px; padding-right: 25px; padding-left: 25px;}
.nav > ul > li.wrapper-btn > a.btn-download { margin-top: 15px; margin-left: 25px; display: inline-block; font-size: 16px; text-transform: uppercase; height: 60px; line-height: 60px; padding-left: 40px; padding-right: 40px; background: linear-gradient(180deg, #FFC933 0%, #FFBB00 72.77%);  border-radius: 5px; }
.nav > ul > li.wrapper-btn > a.btn-download:hover { text-decoration: none;}
.nav > ul > li > a:after { display: none;}

/*nav-right*/
.nav-right  { display: flex; list-style: none; margin: 0; }
.nav-right li { padding: 0 20px;}
.nav-right li a { color: #9999B1; text-transform: uppercase; font-weight: 700; height: 90px; line-height: 86px;}
.nav-right li a:hover { text-decoration: none;}
.nav-right li.active a { color:#000006}
