@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam:wght@100;300;400;500;600;700;800&display=swap");
.header {
  height: 90px;
  background: #FFF;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 999;
}

.logo {
  display: block;
  padding: 15px 0;
}

/*nav*/
.nav > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  list-style: none;
  margin-bottom: 0;
}

.nav > ul > li {
  list-style: none;
}

.nav > ul > li > a {
  font-size: 23px;
  color: #00003B;
  font-weight: 700;
  height: 90px;
  line-height: 86px;
  padding-right: 25px;
  padding-left: 25px;
}

.nav > ul > li.wrapper-btn > a.btn-download {
  margin-top: 15px;
  margin-left: 25px;
  display: inline-block;
  font-size: 16px;
  text-transform: uppercase;
  height: 60px;
  line-height: 60px;
  padding-left: 40px;
  padding-right: 40px;
  background: -webkit-gradient(linear, left top, left bottom, from(#FFC933), color-stop(72.77%, #FFBB00));
  background: linear-gradient(180deg, #FFC933 0%, #FFBB00 72.77%);
  border-radius: 5px;
}

.nav > ul > li.wrapper-btn > a.btn-download:hover {
  text-decoration: none;
}

.nav > ul > li > a:after {
  display: none;
}

/*nav-right*/
.nav-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
}

.nav-right li {
  padding: 0 20px;
}

.nav-right li a {
  color: #9999B1;
  text-transform: uppercase;
  font-weight: 700;
  height: 90px;
  line-height: 86px;
}

.nav-right li a:hover {
  text-decoration: none;
}

.nav-right li.active a {
  color: #000006;
}

/*footer*/
.footer {
  border-top: solid 1px #d9d9d9;
  padding-top: 50px;
}

.top-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -10px;
  margin-right: -10px;
  padding-bottom: 30px;
}

.logo-footer {
  font-size: 14px;
  font-weight: 600;
  color: #00003B;
  display: block;
  margin-bottom: 30px;
}

.logo-footer span {
  width: 110px;
  display: inline-block;
  vertical-align: middle;
}

.logo-footer img {
  margin-right: 10px;
}

.top-footer .col-footer {
  padding: 0 10px;
}

.top-footer dl {
  font-weight: 500;
  font-size: 14px;
  font-weight: 700;
}

.top-footer dl dt {
  font-size: 18px;
  margin-bottom: 15px;
}

.top-footer dl dd {
  margin-bottom: 10px;
  font-weight: 500;
}

.top-footer dl dd a, .top-footer dl dt a {
  color: #00003B;
  white-space: nowrap;
}

.top-footer dl dd a.red {
  color: #BF3D00;
  font-weight: 700;
}

/*box-social*/
.box-social {
  margin-bottom: 35px;
}

.box-social strong {
  font-size: 18px;
  font-weight: 700;
  display: block;
  margin-bottom: 5px;
}

.box-social i {
  margin-right: 20px;
}

.box-app-1 a {
  display: inline-block;
  white-space: nowrap;
}

.box-app-1 a:first-child {
  margin-right: 10px;
}

.box-app-1 a img {
  height: 36px;
}

/*bottom-footer*/
.bottom-footer {
  padding: 40px 0;
  font-size: 12px;
  border-top: 1px solid #e7e6ec;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bottom-footer .left strong {
  font-size: 18px;
  display: block;
  margin-bottom: 10px;
}

.bottom-footer .right {
  padding-left: 20px;
  padding-top: 45px;
}

.icon {
  display: inline-block;
  vertical-align: middle;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.icon-star {
  width: 40px;
  height: 40px;
  background: url(../img/icon-star.svg) 0 0 no-repeat;
}

.icon-facebook {
  width: 11px;
  height: 20px;
  background: url(../img/icon-facebook.svg) 0 0 no-repeat;
  background-size: cover;
}

.icon-youtube {
  width: 22px;
  height: 20px;
  background: url(../img/icon-youtube.svg) 0 0 no-repeat;
  background-size: cover;
}

.icon-ins {
  width: 20px;
  height: 20px;
  background: url(../img/icon-ins.svg) 0 0 no-repeat;
  background-size: cover;
}

/*container*/
.container {
  max-width: 1230px;
}

/*img*/
img {
  max-width: 100%;
}

a:hover {
  text-decoration: none;
}

/*body*/
body {
  font-family: 'Be Vietnam', sans-serif;
  color: #00003B;
  padding-top: 90px;
}

/*slider-top*/
.slider-top {
  height: calc(100vh - 90px);
  overflow: hidden;
}

.page-section {
  padding: 100px 0;
}

/*block-app*/
.block-app h3 {
  font-size: 94px;
  color: #00003B;
  letter-spacing: -4px;
}

.block-app p {
  font-weight: bold;
  font-size: 24px;
  letter-spacing: 0.005em;
}

/*box-app*/
.box-app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
  margin-bottom: 60px;
}

.box-app .qrcode {
  margin-right: 30px;
  width: 180px;
}

.box-app .qrcode img {
  width: 100%;
}

.box-app .outer-app {
  width: 1px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.box-app .outer-app a {
  display: block;
}

.box-app .outer-app a:first-child {
  margin-bottom: 20px;
}

/*box-count*/
.box-count p {
  font-size: 55px;
  color: #FFBB00;
  font-weight: 700;
  line-height: 1.3;
  letter-spacing: -0.01em;
}

.box-count p span {
  color: #00003B;
  font-size: 24px;
  display: block;
  letter-spacing: 0.005em;
}

.outer-star {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px 0;
  height: 65px;
  line-height: 65px;
}
/*# sourceMappingURL=style.css.map */